
@media (max-width: 1024px) {



    .under-text
    {
        font-size: 15px;
        font-weight: bold;
        color: #555;
        text-align: center;
        line-height: 1.6;
        margin: 0.5rem 0;
        display: block;
    }

    .help-details p {
        display: none;
    }
    


    .nav-link:hover #hover-link-indicator {
        display: none; 
    }

    .nav-link {
        -webkit-tap-highlight-color: transparent;
    }

    .container
    {
        margin-left: 20px;

    }


    .logo 
    {
        width: 160px;
        height: auto;
        margin-right: 100px;
    }
    nav {
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.5s ease; 
        position: absolute;
        top: 70px;
        right: 0;
        background-color: black;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0;
        padding: 10px 0;
    }

    nav ul li a {
        padding: 10px 0;
        display: block;
    }

    .menu-toggle {
        display: block; 
        margin-left: auto; 
    }

    .menu-toggle img {
        width: 20px; 
        height: auto; 
    }



    nav.open {
        max-height: 300px; 
    }

    #mobile-bg-image {
        display: block;
    }

    #bg-image {
        display: none;
    }


    .background {
        height: auto; 
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 10;
        font-size: 1.5em; 
        text-align: center;
        width: 100%; 
        padding-top: 20px; 
    }


    .reveal-btn {
        width: 300px;   
        margin: 20px auto;  
    }

    .reveal-text {
        max-width: 300px; 
        width: 100%;
    }
    
    .reveal-text.show {
        display: block;
        opacity: 1;
        font-size: 22px;
    }
    


    #service-imagewheel img{
        display: none;
    }

    .imagewheel
    {
        display: none;
    }

    #service-imagewheel {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #service-imagewheel .service, 
    #service-imagewheel .imagewheel {
        margin: 10px 0;
        padding: 15px;
    }

    .button {
        margin: 10px 0;
    }

    #contact-section {
        flex-direction: column-reverse; 
        align-items: center;
    }

    #contact-form,
    #contact-info {
        padding: 10px;
        margin-bottom: 20px; 
        margin-right: 0px;
    }


    .partners {
        flex-direction: column; 
        margin: 0 5%; 
        margin: 20px 0;
        padding: 0 10px; 
        text-align: justify;
    }

  

    .arrow {
        display: none; 
    }


    .arrow2 {
        display: none; 
    }


    .inner2 {
        padding-left: 0;
    }

    .desktop-only {
        display: none; 
    }   

    .method-content
    {
        font-size: 20px;

    }

}


