body {
    overflow-x: hidden; 
    margin: 0px;
    padding: 0px;
    background-color: white;
    padding-top: 70px;
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}


footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: smaller;
}

.oswald-custom {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*---- header section ---->*/

header {
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    color: black;
}

.drop-toggle
{
    position: absolute;
    right: 60px; 
}

.nav-link
{
    color: white;
}

.logo 
{
    width: 220px;
    height: auto;
    margin-right: 100px;
}

.container
{
    margin-left: 20px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 20px 10px;
    position: relative;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight:400;
    padding: 20px 10px;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    
}

.menu-toggle {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px; 
    padding: 5px; 
}

.menu-toggle img {
    width: 30px;
    height: auto;
}



/*---- background section ---->*/

.background {
    position: relative;
    width: 100%;
    overflow: hidden;
}


#backgroundId {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 60%; 
    left: 0; 
    transform: translateY(-50%);
    text-align: left;  
    font-size: 28px;  
    color: white;     
    padding: 20px;   
}


/*---- mid section ---->*/


.image-container {
    position: relative; 
}


.imagewheel img {
    transition: opacity 0.5s ease;
}

.arrow {
    position: absolute;
    top: 50%; 
    left: 80%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #ffc638; 
    transform: translate(-50%, -50%) rotate(90deg); 
    cursor: pointer;
}

.arrow2 {
    position: absolute;
    top: 50%; 
    left: 20%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #ffc638; 
    transform: translate(-50%, -50%) rotate(270deg); 
    cursor: pointer;
}


#service-imagewheel {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

#service-imagewheel .service, 
#service-imagewheel .imagewheel {
    width: 100%; 
    margin: 20px 0; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    text-align: center;
}

#service-imagewheel img {
    width: 50%; 
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 20px 0; 
}


.image-container a {
    max-width: 590px;
    word-wrap: break-word;
    font-size: 40px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc638; 
    color: #000; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.partnerHead
{
    margin: 0 5%; 
    
    border-top: 2px solid #ccc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


.partners {
    flex-direction: column; 
    margin: 0 5%; 
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;

}

/*---- contact section ---->*/

h3
{
    text-align: center;
    font-size: 30px;
}

#contact-section {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 15px; 
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1200px; 
    flex-wrap: wrap; 
}

#contact-form,
#contact-info {
    flex: 1; 
    min-width: 300px;
    padding: 20px;
}

.contact-form fieldset {
    border: none;
    padding: 0;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 225px;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-disabled-message {
    font-style: italic;
}

#contact-form
{
    margin-right: 100px; 
}




.desktop-only {
    display: inline; 
}

/*---- smaller screens ---->*/


#mobile-bg-image {
    display: none; 
}


.method
{
    padding-top: 20px;
    padding-bottom: 20px;

}


.method-content
{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;

}
.method-content p
{
    margin-left: 20px;
}

.help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.help-details h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
}
.help-details p {
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 1.6;
    margin: 0.5rem 0;
}

.under-text
{

    display: none;
}


.wp-block-buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 1rem; 
    
}



.wp-block-button {
    display: flex;
    align-items: center;
    margin: 0;
}
.wp-block-button a {
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: #ffc638;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.wp-block-button a:hover {
    background-color: black;
}

.wp-block-button img {
    margin-right: 0.5rem;
}

.help-info ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
}

.help-info li {
    font-size: 16px;
    color: #555;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.help-info li:last-child {
    border-bottom: none;
}

.grid.grid-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem; 
}


.reveal-text {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 22px;
    max-width: 600px;
    width: 100%;      
    margin: 0 auto;  
}

.reveal-text.show {
    display: block;
    opacity: 1;
}


.reveal-btn {
    display: block;
    width: 600px;
    padding: 12px 20px;
    margin: 20px auto 0; 
    background-color: #ffc638;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    font-weight:400;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: inherit;
}
.reveal-btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #e6b531; 
}




.service
{
    padding-top: 40px;
    padding-bottom: 60px;

}





.checkmark-item {
    display: flex;
    align-items: flex-start; 
    gap: 10px;               
    margin-bottom: 1rem;     
}

.checkmark-icon {
    padding-top: 40px;
    width: 34px;             
    height: auto;
}

.method-content p {
    margin: 10;              
    line-height: 1.5;        
}


a {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {



    .under-text
    {
        font-size: 15px;
        font-weight: bold;
        color: #555;
        text-align: center;
        line-height: 1.6;
        margin: 0.5rem 0;
        display: block;
    }

    .help-details p {
        display: none;
    }
    


    .nav-link:hover #hover-link-indicator {
        display: none; 
    }


    .container
    {
        margin-left: 20px;

    }


    .logo 
    {
        width: 160px;
        height: auto;
        margin-right: 100px;
    }
    nav {
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.5s ease; 
        position: absolute;
        top: 70px;
        right: 0;
        background-color: black;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0;
        padding: 10px 0;
    }

    nav ul li a {
        padding: 10px 0;
        display: block;
    }

    .menu-toggle {
        display: block; 
        margin-left: auto; 
    }

    .menu-toggle img {
        width: 20px; 
        height: auto; 
    }



    nav.open {
        max-height: 300px; 
    }

    #mobile-bg-image {
        display: block;
    }

    #bg-image {
        display: none;
    }


    .background {
        height: auto; 
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 10;
        font-size: 1.5em; 
        text-align: center;
        width: 100%; 
        padding-top: 20px; 
    }


    .reveal-btn {
        width: 300px;   
        margin: 20px auto;  
    }

    .reveal-text {
        max-width: 300px; 
        width: 100%;
    }
    
    .reveal-text.show {
        display: block;
        opacity: 1;
        font-size: 22px;
    }
    


    #service-imagewheel img{
        display: none;
    }

    .imagewheel
    {
        display: none;
    }

    #service-imagewheel {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #service-imagewheel .service, 
    #service-imagewheel .imagewheel {
        margin: 10px 0;
        padding: 15px;
    }

    .button {
        margin: 10px 0;
    }

    #contact-section {
        flex-direction: column-reverse; 
        align-items: center;
    }

    #contact-form,
    #contact-info {
        padding: 10px;
        margin-bottom: 20px; 
        margin-right: 0px;
    }


    .partners {
        flex-direction: column; 
        margin: 0 5%; 
        margin: 20px 0;
        padding: 0 10px; 
        text-align: justify;
    }

  

    .arrow {
        display: none; 
    }


    .arrow2 {
        display: none; 
    }


    .inner2 {
        padding-left: 0;
    }

    .desktop-only {
        display: none; 
    }   

    .method-content
    {
        font-size: 20px;

    }

}


